<!DOCTYPE html>
<html>
  <head>
    <title>shallot</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body style="background-color:green;">
  	<script> function print() { console.log("Hello"); }</script>
    <h1>Test</h1>
    <p>Welcome to H E L L  LOSER!!!</p>
    <button type="button" onclick= "print()" >Click me.</button>
  </body>
</html>
