<!DOCTYPE HTML>
<!--
  Projection by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <title>Projection by ShallotCo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    
    <!-- Header -->
    <header id="header">
      <div class="inner">
          <a class="logo"><img src="/assets/images/Home.png" style="width:40px;height:40px;"></a>
          <nav id="nav">
            <a href="https://github.com/t8ortot">James</a>
            <a href="https://github.com/Jdombrowski">Jonathan</a>
            <a href="https://github.com/nemimccarter">Nemi</a>
          </nav>
          <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
      </header>

      <!-- Third Banner -->
      <section id="banner">
        <div class="inner">
          <header>
            <h1>A/B Testing Framework as a Service</h1>
          </header>

         <header>
            <img src="/assets/images/Home.png" style="width:300px;height:300px;">
          </header>

          

          <footer>
            <a href="https://github.com/Jdombrowski/shallotCo-sfhacks-2018" class="button">GITHUB PROJECT</a>
          </footer>

              <p></p>
            
              <p style="font-size: 22pt">The main goal of this project was to design a framework for testing components of applications involving a Server/Client paradigm. The overarching idea was to utilize node.js and express templating to create a modular, non-intrusive way of statistically determining the best of multiple options by bucketing the delivery of different .ejs files. By tracking simple metrics such as time between clicks, new visitors, and repeated visits, among other basic metrics through anonymous identifiers in the form of cookies, we are able to create much more complicated metrics. These include ratios summarizing user retention, total time data points and many others involving the various pieces of data from the cookies and what we are able to generate with the</p>
            
            <footer>
            <a href="/bucketed_page" class= "button">See The Data!</a>
          </footer>
<p></p>
            <footer>
            <a href="/bucketed_page" class= "button">Be The Data!</a>
          </footer>

            <!-- <div>
              <span class="icon fa-bug"></span>
              <h3>Ultrices</h3>
              <p>Nulla vitae mauris non felis</p>
            </div> -->

          

          
        </div>
      </section>
    


    <!-- First Banner -->
    <section id="banner">
        
      </section>

 
    <!-- Scripts -->
      <script src="./assets/js/jquery.min.js"></script>
      <script src="./assets/js/skel.min.js"></script>
      <script src="./assets/js/util.js"></script>
      <script src="./assets/js/main.js"></script>

  </body>
</html>